/* Dấu sao đỏ cho các trường bắt buộc */
.required-label::after {
    content: " *";
    color: red;
    font-size: 0.9rem;
    display: inline !important;
}

/* Kiểu cho form */
form {
    background-color: #ebebeb;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Kiểu cho các nhóm input */
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: 500;
        color: #333;
    }

/* Kiểu cho các thẻ input, textarea, select */
input[type="text"],
input[type="number"],
textarea,
select,
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form-check-label {
    margin-left: 5px;
}

/* Kiểu cho input file */
input[type="file"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Kiểu cho tiêu đề */
h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Kiểu cho nút submit */
button[type="submit"],
.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    button[type="submit"]:hover,
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

/* Kiểu cho nút warning */
.btn-warning {
    background-color: #ffb300;
    border-color: #ffb300;
}

    .btn-warning:hover {
        background-color: #ffca28;
        border-color: #ffca28;
    }

/* Kiểu cho thông báo */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Màu xanh cho thông báo thành công */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

    .notification.error {
        background-color: #f44336; /* Màu đỏ cho thông báo lỗi */
    }

    .notification.success {
        background-color: #4CAF50; /* Màu xanh cho thông báo thành công */
    }
